# VITE_POSTHOG_KEY: PostHog Project API Key
VITE_POSTHOG_KEY=""

# VITE_POSTHOG_HOST: PostHog Host (e.g., https://app.posthog.com or https://eu.posthog.com)
VITE_POSTHOG_HOST="https://app.posthog.com"
